@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

/* Modificar o scroll */
/* Firefox */
* {
    scrollbar-width: 12px;
    scrollbar-color: #5a5a5a #9a9a9a;
}

/* Chrome, Edge e Safari */
::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #9a9a9a;
}

*::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 20px;
    border: 3px solid #9a9a9a;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    background: #a1a1a1;
}

header,
nav,
main,
aside,
footer {
    background-color: #a1a1a1;
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
    height: 100px;
}

header #logo {
    flex: 0 1 200px;
    background: #c9c9c9;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin: 3%;
    font-size: 20pt;
}

main {
    flex: 20 1 500px;
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    width: 100%;
    height: 2000px;
    margin: 10px;
    background: linear-gradient(#9a9a9a, #5a5a5a, #1a1a1a);
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 923px) {
    header {
        order: 0;
    }

    main {
        order: 1;
    }

    aside {
        flex: 1 1 100vw;
        order: 2;
    }

    footer {
        order: 3;
    }
}

@media only screen and (max-width: 717px) {

    #openMenu,
    #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}